
body {
    margin: 0;
}

html {
    background-color: black;
}

#titlebar {
	border-bottom: 2px solid white;
	display: flex;
	flex-direction: row;
	align-content: center;	
}

#titlebar * {
	padding-right: 30px;
	padding-left:  30px;
 	align-self: center;
}

h1, h2, h3, h4, h5, p {
	font-family: 'DejaVu Sans Mono', monospace;
	color: white;
}

